@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #fff;
    z-index: 100;
    transition: 0.4s ease;
}
nav.small {
    height: 70px;
    line-height: 70px;
    transition: 0.4s ease;
}
.img-logo {
    height: 25px;
    margin-right: 10px;
}
.logo {
    position: fixed;
    float: left;
    padding-left: 100px;
    margin-top: 8px;
}
.logo a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    /* transition: 1s; */
    /* padding-top: 5px; */
}

nav ul li {
    display: inline-block;
    padding-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
}

.btn-bg {
    height: 50px;
    padding: 7px 25px;
    background: linear-gradient(to bottom right, #2CC3F2,#0072AD);
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    display: none;
}

.landing {
    padding: 0px 100px 0px 100px;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.landing-content {
    padding-top: 30px;
}

.title-text {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
}
.subtitle-text {
    font-size: 16px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}
.btn-more {
    width: 180px;
    margin-top: 35px;
    margin-bottom: 110px;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    color: rgb(255,255,255);
    background: linear-gradient(to bottom right, #2CC3F2,#0072AD);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.btn-more:hover {
    cursor: pointer;
    transition: 0.4s ease;
}
.img-bottom {
    position: absolute;
    z-index: -100;
}
/* -------------------------------- */
.about-section {
    background: #EEF1F8;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    padding: 0px 50px 50px 50px;
    align-content: center;
}
.about-title {
    font-size: 26px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    padding-top: 0;
}
.about-subtitle {
    color: rgba(0,0,0,0.4);
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
}
.card {
    min-height: 300px;
    width: 250px;
    background: #ffffff;
    float: left;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px -6px rgb(212, 212, 212);
    transition: 0.2s ease;
    padding: 40px 30px 30px 30px;
}
.img-container {
    height: 200px;
}
.img-card {
    height: 100%;
    width: 100%;
}
.card-title {
    margin-top: 50px;
    font-size: 18px;
    color: rgba(0,0,0,0.6);
}
.card-description {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    margin-bottom: 0;
}
.btn-next {
    position: absolute;
    bottom: 0;
    border: 0;
    background: none;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.5);
    transition: 0.3s ease;
}
.btn-next:hover {
    cursor: pointer;
}
/* -------------------------------- */
.brands-section {
    min-height: 100px;

}
.brands-container {
    padding: 5px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}
.img-brand {
    margin: 25px;
    height: 70px;
}